
<!DOCTYPE html>
<html>
  <head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Head", required: false)
  </head>
  <body>
    @RenderBody()
  </body>
</html>
